.App {
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.feather {
  transform: rotate(240deg);
}

.floating {
  animation: float 1 5s linear;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes float {
  from {
    transform: translateY(0px) rotate(inherit);
  }
  10% {
    transform: translateY(-150px) translateX(-30px);
  }
  to {
    transform: translateY(0px) translateX(0px) rotate(inherit);
  }
}